@using VisitorSystem.Shared.Utilities.Results.ComplexTypes
@model VisitorSystem.Entities.Dtos.RoleDto.RoleListDto
@{
    Layout = "_Layout";
    ViewBag.Title = "Roller Index";
}
@if (Model.ResultStatus == ResultStatus.Success)
{


    <div id="modalPlaceHolder" aria-hidden="true"></div>

    <div class="card mb-4 m-2">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Yetkiler
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="rolesTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Yetki Adı</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Yetki Adı</th>
                            <th>İşlemler</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var role in Model.Roles)
                        {
                            <tr name="@role.Id">
                                <td>@role.Id</td>
                                <td>@role.Name</td>
                                

                                <td>
                                    <button class="btn btn-primary btn-sm btn-block btn-update" data-id="@role.Id"><span class="fas fa-edit"></span></button>
                                    <button class="btn btn-danger  btn-sm btn-block btn-delete" data-id="@role.Id"><span class="fas fa-minus-circle"></span></button>
                                </td>


                            </tr>



                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
@if (Model.ResultStatus == ResultStatus.Error)
{
    <div class="alert alert-danger m-2">
        @Model.Message<br />
        Dashboard sayfasına dönmek için lütfen <a class="alert-link" asp-area="Admin" asp-controller="Home" asp-action="Index"> tıklayınız.</a>

    </div>

}
@section Scripts
{

    <script src="~/js/roleIndex.js" type="application/ecmascript"></script>
}